<h1>Pricing</h1>

{{#if pricing.length}}
{{#each pricing}}

<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">{{title}}</font>
                    </font>
                </h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">{{price}}</font>
                    </font><small class="text-body-secondary fw-light">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">/мес.</font>
                        </font>
                    </small>
                </h1>
                <div>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Включено 10 пользователей</font>
                    </font>
                </div>
                <button type="button" class="w-100 btn btn-lg btn-outline-primary">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Бесплатно зарегестрироваться</font>
                    </font>
                </button>
            </div>
            <div class="card-action actions">
                <a href="/pricing/{{id}}" target="_blank">Open a course</a>
                <a href="/pricing/{{id}}/edit?allow=true">Edit</a>
                <form action="/pricing/add" method="POST">
                    <input type="hidden" name="id" value="{{id}}">
                    <button type="submit" class="btn btn-primary">Buy</button>
                </form>
            </div>
        </div>
    </div>
</div>
{{/each}}
{{else}}
<p>courses are not yet available</p>
{{/if}}